:root {
  --primary-color: #0a0b26;
  --white-color: #ffffff;
  --secondary-color: crimson;
  --gap: 3rem;
}

.main-bg {
  background-image: url("../img/Confetti-Doodles.svg");
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.white-bg {
  background: var(--white-color);
  color: var(--primary-color);
}
.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
  align-items: center;
}

.section {
  min-height: 100vh;
}

.menu-gap{
    height: 70px;
}


.image-pagUM{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}
.intro-text-content, .intro-img{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
    
}
.intro-text-content h2{
  font-size: 8rem;
  margin-bottom: 3rem;
}
.intro-img img,
.intro-img svg {
    max-width: 100%;
    height: auto;
}
.content-two{
  

}